<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new card | Grocerymart</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="./assets/images/favicon/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="./assets/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="./assets/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="./assets/images/favicon/site.webmanifest" />
    <meta name="theme-color" content="#77DAE6" />

    <!-- Style -->
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <!-- Header -->
    @@include('./partials/header-logined.html')

    <!-- Main -->
    <main class="profile">
      <div class="container">
        <!-- Search bar -->
        <div class="profile-container">
          <div class="search-bar d-none d-md-flex">
            <input type="text" name="" id="" placeholder="Search for item" class="search-bar-input" />
            <button class="search-bar-submit">
              <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle
                  cx="11.7666"
                  cy="11.7666"
                  r="8.98856"
                  stroke="#1A162E"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.0183 18.4852L21.5423 22.0001"
                  stroke="#1A162E"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
       
        <!-- Profile content -->
        <div class="profile-container">
          <div class="row gy-md-3">
            <div class="col-3 col-xl-4 d-lg-none">
              <aside class="profile-sidebar">
                <div class="profile-user">
                  <img src="./assets/images/avatar/avatar-2.png" alt="" class="profile-user-avatar">
                  <h1 class="profile-user-name">Imran Khan</h1>
                  <p class="profile-user-desc">Registered: 17th May 2022</p>
                </div>
                <!-- Menu 1 -->
                 <div class="profile-menu">
                  <h3 class="profile-menu-title">Manage Account</h3>
                  <ul class="profile-menu-list">
                    <li>
                      <a href="./edit-personal-info.html" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9847 15.3457C8.11707 15.3457 4.81421 15.9305 4.81421 18.2724C4.81421 20.6143 8.09611 21.22 11.9847 21.22C15.8523 21.22 19.1542 20.6343 19.1542 18.2933C19.1542 15.9524 15.8733 15.3457 11.9847 15.3457Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9846 12.0059C14.5227 12.0059 16.5799 9.94779 16.5799 7.40969C16.5799 4.8716 14.5227 2.81445 11.9846 2.81445C9.44655 2.81445 7.38845 4.8716 7.38845 7.40969C7.37988 9.93922 9.42369 11.9973 11.9523 12.0059H11.9846Z" stroke="#1A162E" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                        </span>
                        Personal info
                      </a>
                    </li>
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 10.5005C14.5 9.11924 13.3808 8 12.0005 8C10.6192 8 9.5 9.11924 9.5 10.5005C9.5 11.8808 10.6192 13 12.0005 13C13.3808 13 14.5 11.8808 14.5 10.5005Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9995 21C10.801 21 4.5 15.8984 4.5 10.5633C4.5 6.38664 7.8571 3 11.9995 3C16.1419 3 19.5 6.38664 19.5 10.5633C19.5 15.8984 13.198 21 11.9995 21Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                        </span>
                        Addresses
                      </a>
                    </li>
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.9024 8.85156L13.4591 12.4646C12.6196 13.1306 11.4384 13.1306 10.5989 12.4646L6.11816 8.85156" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                        </span>
                        Communications & privacy
                      </a>
                    </li>
                  </ul>
                 </div>

                 <!-- Menu 2 -->
                 <div class="profile-menu">
                  <h3 class="profile-menu-title">My items</h3>
                  <ul class="profile-menu-list">
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1223 15.4365L12.1223 3.39551" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0383 12.5088L12.1223 15.4368L9.20633 12.5088" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.7551 8.12793H17.6881C19.7231 8.12793 21.3721 9.77693 21.3721 11.8129V16.6969C21.3721 18.7269 19.7271 20.3719 17.6971 20.3719L6.55707 20.3719C4.52207 20.3719 2.87207 18.7219 2.87207 16.6869V11.8019C2.87207 9.77293 4.51807 8.12793 6.54707 8.12793L7.48907 8.12793" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                                    
                        </span>
                        Reorder
                      </a>
                    </li>
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.87187 11.5983C1.79887 8.24832 3.05287 4.41932 6.56987 3.28632C8.41987 2.68932 10.4619 3.04132 11.9999 4.19832C13.4549 3.07332 15.5719 2.69332 17.4199 3.28632C20.9369 4.41932 22.1989 8.24832 21.1269 11.5983C19.4569 16.9083 11.9999 20.9983 11.9999 20.9983C11.9999 20.9983 4.59787 16.9703 2.87187 11.5983Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 6.70001C17.07 7.04601 17.826 8.00101 17.917 9.12201" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                                  
                        </span>
                        Lists
                      </a>
                    </li>
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 12V21H5V12" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21 8H3V12H21V8Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 21V8" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 8H8.14286C7.57454 8 7.02949 7.73661 6.62763 7.26777C6.22576 6.79893 6 6.16304 6 5.5C6 4.83696 6.22576 4.20107 6.62763 3.73223C7.02949 3.26339 7.57454 3 8.14286 3C11.1429 3 12 8 12 8Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 8H15.8571C16.4255 8 16.9705 7.73661 17.3724 7.26777C17.7742 6.79893 18 6.16304 18 5.5C18 4.83696 17.7742 4.20107 17.3724 3.73223C16.9705 3.26339 16.4255 3 15.8571 3C12.8571 3 12 8 12 8Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                                      
                        </span>
                        Registries
                      </a>
                    </li>
                  </ul>
                 </div>

                 <!-- Menu 3 -->
                 <div class="profile-menu">
                  <h3 class="profile-menu-title">Subscriptions & plans</h3>
                  <ul class="profile-menu-list">
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9846 21.606C11.9846 21.606 19.6566 19.283 19.6566 12.879C19.6566 6.474 19.9346 5.974 19.3196 5.358C18.7036 4.742 12.9906 2.75 11.9846 2.75C10.9786 2.75 5.26557 4.742 4.65057 5.358C4.03457 5.974 4.31257 6.474 4.31257 12.879C4.31257 19.283 11.9846 21.606 11.9846 21.606Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.38574 11.8741L11.2777 13.7691L15.1757 9.86914" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                                                           
                        </span>
                        Protection plans
                      </a>
                    </li>                   
                  </ul>
                 </div>

                 <!-- Menu 4 -->
                 <div class="profile-menu">
                  <h3 class="profile-menu-title">Customer Service</h3>
                  <ul class="profile-menu-list">
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.334 2.75009H7.665C4.644 2.75009 2.75 4.88909 2.75 7.91609V16.0841C2.75 19.1111 4.635 21.2501 7.665 21.2501H16.333C19.364 21.2501 21.25 19.1111 21.25 16.0841V7.91609C21.25 4.88909 19.364 2.75009 16.334 2.75009Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.9941 16.0001V12.0001" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.9901 8.20419H12.0001" stroke="#1A162E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                                                                                   
                        </span>
                        Help
                      </a>
                    </li>    
                    <li>
                      <a href="" class="profile-menu-link">
                        <span class="profile-menu-icon">
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.75009C17.108 2.75009 21.25 6.89109 21.25 12.0001C21.25 17.1081 17.108 21.2501 12 21.2501C6.891 21.2501 2.75 17.1081 2.75 12.0001C2.75 6.89109 6.891 2.75009 12 2.75009Z" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.9951 8.20419V12.6232" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.995 15.7961H12.005" stroke="#1A162E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                                                                                                       
                        </span>
                        Terms of Use
                      </a>
                    </li>                    
                  </ul>
                 </div>
              </aside>
            </div>
            <div class="col-9 col-xl-8 col-lg-12">
              <div class="cart-info">
                <div class="row">
                  <!-- Add credit or debit card -->
                   <div class="col-12">
                    <div>
                        
                      <h2 class="cart-info-heading-lv2">
                        <a href="./profile.html">
                          <svg class="cart-info-back-arrow" width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.75 7.27441L15.75 7.27441" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.7998 13.2988L0.749804 7.27476L6.7998 1.24976" stroke="#1A162E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                        </a>
                        Add credit or debit card</h2>
                    </div>
                    <form action="./profile.html" class="form form-card">
                      <!-- Form row 1 -->
                      <div class="form-row">
                        <div class="form-group">  
                          <label for="first-name" class="form-label form-card-label">First name</label>
                          <div class="form-text-input">
                            <input type="text" name="" id="first-name" placeholder="First name" class="form-input" autofocus/>
                            
                          </div>
                          <p class="form-error">Name is not in correct format</p>
                        </div>
                        <div class="form-group">  
                          <label for="last-name" class="form-label form-card-label">Last name</label>
                          <div class="form-text-input">
                            <input type="text" name="" id="last-name" placeholder="Last name" class="form-input" />
                            
                          </div>
                          <p class="form-error">Name is not in correct format</p>
                        </div>
                      </div>

                      <!-- Form row 2 -->
                      <div class="form-row">
                        <div class="form-group">  
                          <label for="card-number" class="form-label form-card-label">Card Information</label>
                          <div class="form-text-input">
                            <input type="number" name="" id="card-number" placeholder="Card Number" class="form-input" />
                            
                          </div>
                          <p class="form-error">Number is not in correct format</p>
                        </div>
                        <div class="form-group">  
                          <label for="expiration-date" class="form-label form-card-label">Expiration Date</label>
                          <div class="form-text-input">
                            <input type="number" name="" id="expiration-date" placeholder="MM/YY" class="form-input" />
                            
                          </div>
                          <p class="form-error">Date is not in correct format</p>
                        </div>
                      </div>
                      <!-- Form row 3 -->
                      <div class="form-row">
                        <div class="form-group">  
                          <label for="card-cvv" class="form-label form-card-label">CVV</label>
                          <div class="form-text-input">
                            <input type="number" name="" id="card-cvv" placeholder="123" class="form-input" />
                            
                          </div>
                          <p class="form-error">Name is not in correct format</p>
                        </div>
                        <div class="form-group">  
                          <label for="phone-number" class="form-label form-card-label">Phone Number</label>
                          <div class="form-text-input">
                            <input type="number" name="" id="phone-number" placeholder="Phone Number" class="form-input" />
                            
                          </div>
                          <p class="form-error">Name is not in correct format</p>
                        </div>
                        
                      </div>

                      <div class="form-group">  
                        <label for="set-default-card" class="form-label form-card-label">Card Preferences</label>
                        <label class="form-checkbox">
                          <input type="checkbox" name="" id="set-default-card" class="form-checkbox-input d-none" checked />
                          <span class="form-checkbox-label">Set as default card</span>
                        </label>
                      </div>
                      <div class="form-card-bottom">
                        <a href="./profile.html" class="btn btn-text">Cancel</a>
                        <button class="btn btn-primary btn-rounded">Save Card</button>
                      </div>
                    </form>

                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    @@include('./partials/footer.html')

     <!-- Modal : confirm delete shopping cart item -->

     <div id="delete-confirm" class="modal modal-small hide">
      <!-- <button class="modal-close">&times;</button> -->
      <div class="modal-content">
        <div class="modal-text">Do you want to delete this item ?</div>
        <div class="modal-bottom">
          <button class="btn btn-small btn-outline modal-btn js-toggle" toggle-target="#delete-confirm">Cancel</button>
          <button class="btn btn-small btn-danger  btn-primary modal-btn btn-no-margin js-toggle" toggle-target="#delete-confirm">Delete</button>
        </div>
      </div>
      <div class="modal-overlay js-toggle" toggle-target="#delete-confirm"></div>
    </div>

    <script src="./assets/js/scripts.js"></script>
  </body>
</html>
